{% extends 'base.html' %}

{% block title %}管理系统{% endblock %}

{% block beforehead %}
<style>

    /* Basic */
    .active {
    }

    .divider {
        border-bottom: solid 1px rgba(221, 221, 221, 0.3);
        margin: 0.5rem 0;
    }

    /* Navigation general format */
    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 0.8rem;
    }

    /* Navigation Bar */
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .navbar a {
        border-bottom: none;
    }

        /* Left part in Navigation Bar */
        .navbar-header {
            float: left;
            padding: 0.25rem 0.5rem 0.15rem 1rem;
            font-size: larger;
        }

        /* Right part in Navigation Bar */
        .navbar-collapse {
            padding: 0.25rem 0.5rem 0.15rem 1rem;
        }

        .navbar-collapse ul li {
            -moz-transition: background-color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;
            float: right;
            margin: 0.25rem;
            padding: 0.15rem 0.5rem 0.15rem 0.5rem;
            border-radius: 5px;
        }

        .navbar-collapse ul li:hover {
            background-color: rgba(255, 255, 255, 0.175)
        }

            /* Dropdown in list item */

            .dropdown {
            }

            .dropdown .dropdown-menu {
                -moz-transition: opacity 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out;
                position: absolute;
                display: none;
                opacity: 0;
                box-sizing: border-box;
            }

            .dropdown:hover .dropdown-menu {
                margin: 0.55rem 0 0 -0.5rem;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.3);
                display: block;
                opacity: 1;
            }

            .dropdown .dropdown-menu li {
                float: none;
            }

    /* Side Bar */

    /* Side Bar general format */
    .sidebar {
        position: fixed;
        top: 2.55rem;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .sidebar {
        font-size: 0.8rem;
        color: #ddd;
    }

        .sidebar a {
            border-bottom: none;
        }

        /* Navigation in Side Bar */
        .nav-sidebar {
            margin: 0 0 0.5rem 0;
        }

        .nav-sidebar li {
            -moz-transition: background-color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;
            border-radius: 5px;
            margin: 0.25rem 0 0.25rem 0rem;
            padding: 0.05rem 0.5rem 0.05rem 0.5rem;
        }

        .nav-sidebar li:hover {
            background-color: rgba(255, 255, 255, 0.175)
        }

            /* Dropdown in list item */
            .nav-dropdown {
                -moz-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
                opacity: 0;
                height: 0;
            }

            .dropdown:hover .nav-dropdown {
                opacity: 1;
                height: auto;
            }

</style>
{% endblock %}

{% block content %}

<nav class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">R 次源</a>
    </div>
    <div class="navbar-collapse">
        <ul id="status" class="nav">
            <li><a @click="signout" href="#">退出</a></li>
            <li class="dropdown">
                <a href="#">用户</a>
                <ul class="nav dropdown-menu">
                    <li><a title="查看或修改个人信息">个人信息</a></li>
                    <li><a title="查看您的登录记录" href="#">登录记录</a></li>
                </ul>
            </li>
            <li><a href="#">帮助</a></li>
        </ul>
    </div>
</nav>

<aside class="sidebar">
    <ul class="nav nav-sidebar">
        <li id="li_report" class="active"><a href="/manage/report">报告</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="li_article"><a href="/manage/article">文章</a></li>
        <li id="li_anounce"><a href="#">公告</a></li>
        <li id="li_comment"><a href="#">评论</a></li>
        <li id="li_discuss"><a data-toggle="tooltip" title="网站暂无留言功能">留言</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="li_section"><a href="#">栏目</a></li>
        <li id="li_others" class="dropdown">
            <a href="#">其他</a>
            <ul class="nav nav-dropdown">
                <li><a href="#">友情链接</a></li>
                <li><a href="#">访问记录</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="li_users" class="dropdown">
            <a href="#">用户</a>
            <ul class="nav nav-dropdown">
                <li><a href="#areDeveloping">管理用户组</a></li>
                <li><a href="">管理用户</a></li>
                <li><a href="">管理登录日志</a></li>
            </ul>
        </li>
        <li id="li_setting" class="dropdown">
            <a href="#">设置</a>
            <ul class="nav nav-dropdown">
                <li><a href="#">基本设置</a></li>
                <li><a href="#">阅读设置</a></li>
                <li><a href="#">安全配置</a></li>
                <li><a>扩展菜单</a></li>
            </ul>
        </li>
    </ul>
</aside>

<section class="section">
    {% block section %}{% endblock %}
</section>

{% endblock %}

{% block afterhead %}

<script src="../static/js/vue.min.js"></script>
<script src="../static/js/axios.min.js"></script>
<script>

    var status = new Vue({
        el: '#status',
        methods: {
            signout: function (event) {
                axios.get("/api/signout")
                    .then(location.assign("/"))
                    .catch(err => console.log(err));
                ;
            }
        }
    });

</script>

{% endblock %}