{% extends 'base.html' %}

{% block title %}管理系统{% endblock %}

{% block beforehead %}{% endblock %}

{% block content %}

<nav class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">R 次源</a>
    </div>
    <div class="navbar-collapse">
        <ul id="status" class="nav">
            <li><a @click="signout" href="#">退出</a></li>
            <li class="dropdown">
                <a href="#">用户</a>
                <ul class="nav dropdown-menu">
                    <li><a title="查看或修改个人信息">个人信息</a></li>
                    <li><a title="查看您的登录记录" href="#">登录记录</a></li>
                </ul>
            </li>
            <li><a href="#">帮助</a></li>
        </ul>
    </div>
</nav>

<aside class="sidebar">
    <ul class="nav nav-sidebar">
        <li id="li_report" class="active"><a href="/manage/report">报告</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="li_user"><a href="/manage/user">用户</a></li>
        <li id="li_article"><a href="/manage/blog">文章</a></li>
        <li id="li_comment"><a href="#">评论</a></li>
        <li id="li_discuss"><a data-toggle="tooltip" title="网站暂无留言功能">留言</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="li_section"><a href="#">栏目</a></li>
        <li id="li_others" class="dropdown">
            <a href="#">其他</a>
            <ul class="nav nav-dropdown">
                <li><a href="#">友情链接</a></li>
                <li><a href="#">访问记录</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li id="li_users" class="dropdown">
            <a href="#">用户</a>
            <ul class="nav nav-dropdown">
                <li><a href="#areDeveloping">管理用户组</a></li>
                <li><a href="">管理用户</a></li>
                <li><a href="">管理登录日志</a></li>
            </ul>
        </li>
        <li id="li_setting" class="dropdown">
            <a href="#">设置</a>
            <ul class="nav nav-dropdown">
                <li><a href="#">基本设置</a></li>
                <li><a href="#">阅读设置</a></li>
                <li><a href="#">安全配置</a></li>
                <li><a>扩展菜单</a></li>
            </ul>
        </li>
    </ul>
</aside>

<section class="section">
    {% block section %}{% endblock %}
</section>

{% endblock %}

{% block afterhead %}

<script src="../static/js/vue.min.js"></script>
<script src="../static/js/axios.min.js"></script>
<script src="../static/js/main2.js"></script>
<script>

    var status = new Vue({
        el: '#status',
        methods: {
            signout: function (event) {
                axios.get("/api/signout")
                    .then(location.assign("/"))
                    .catch(err => console.log(err));
                ;
            }
        }
    });

</script>

{% endblock %}