{% extends 'base.html' %}

{% block title %}{(blog.name)}{% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="../static/css/editormd.min.css" type="text/css" />
{% endblock %}

{% block content %}


<div id="re_editor">

    <div id="md_editor" class="editormd-preview-theme-dark" :style="md_style">
        <textarea>{(blog.content|safe)}</textarea>
    </div>

    <div id="cm_editor">
    {% if __user__ %}

        <h3>评论</h3>

        <hr class="divider" />

        <form id="reply" @submit.prevent="submit()">
            <img class="user_img" :src="user_img" @error.once="user_img='/static/images/user.jpg'"/>
            <textarea v-model="content"></textarea>
            <input type="submit" value="回复" />
        </form>

        <div style="clear:both"></div>

        <div id="comment">
            <outcomment v-for="comment in comments"
                        v-bind:key="comment.id"
                        v-bind:comment="comment"
                        v-bind:images="images"
						v-bind:id_img="user_img"
                        ></outcomment>
        </div>

    {% else %}

        <h3>请登录后发表评论</h3>

        <hr class="divider" />

        <div class="grid grid-col-1-2">
            <div id="sig_part"><a href="/#signin"><i class="icon fa-sign-in"></i> 登录</a></div>
            <div id="reg_part"><a href="/#register"><i class="icon fa-user-plus"></i> 注册</a></div>
        </div>

    {% endif %}
     </div>

</div>

{% endblock %}

{% block afterhead %}

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/vue.min.js"></script>
<script src="../static/js/axios.min.js"></script>
<script src="../static/lib/marked.min.js"></script>
<script src="../static/lib/prettify.min.js"></script>
<script src="../static/lib/raphael.min.js"></script>
<script src="../static/lib/underscore.min.js"></script>
<script src="../static/lib/sequence-diagram.min.js"></script>
<script src="../static/lib/flowchart.min.js"></script>
<script src="../static/lib/jquery.flowchart.min.js"></script>
<script src="../static/js/editormd.min.js"></script>
<script src="../static/js/main2.js"></script>
<script>

    var editor = new Vue({
        el: '#re_editor',
        data: {
            content: '',
            comments: '',
            images: '',
            opacity: '0',
            user_img: '/static/images/user.jpg',
        },
        computed: {
            md_style: function () {
                return {
                    'background-color': "rgba(27, 31, 34, 0.85)",
                    color: 'white',
                    padding: '4.5rem 2.5rem 1.5rem 2.5rem',
                    font: 'inherit',
                    'box-sizing': 'border-box',
                    opacity: this.opacity
                };
            }
        },
        methods: {
            submit: function (event) {
                if (this.content === '') {
                    alert("评论不能为空！");
                    return;
                }
                axios.post('/api/comment/new/{(blog.id)}', {
                    content: this.content
                })
                    .then(location.reload())
                    .catch(err => console.log(err));
            },

        },
        mounted: function () {
            axios.get('/api/blog/{(blog.id)}')
                .then(response => {
                    this.comments = response.data.comments;
                    this.images = response.data.images;
                    this.user_img = this.images.user_path + '{( __user__.id )}.jpg';
                })
                .catch(function (err) {
                    console.log(err);
                });

			editormd.katexURL = {
				js  : "//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min",  // default: //cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min
				css : "//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min"   // default: //cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min
			};

            editormd.markdownToHTML("md_editor", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
            });
            this.opacity = '1';
        }
    });

</script>

{% endblock %}