{% extends 'base_manage.html' %}

{% block title %}{( super() )}{% endblock %}

{% block beforehead %}

{( super() )}

<style>

    /* 全局 */

    #footer {
        display: none;
    }

</style>

{% endblock %}

{% block section %}

<div id="controller">

    <!-- Info all -->

    <h3 class="page_header">信息总览</h3>
    <hr class="divider" />

    <div id="info_all" class="grid grid-col-1-4">
        <div>
            <h4>文章</h4>
            <span><a href="/manage/blog">{(blog_num)} 篇</a></span>
        </div>
        <div>
            <h4>评论</h4>
            <span><a href="#">0 条</a></span>
        </div>
        <div>
            <h4>友链</h4>
            <span><a href="#">0 条</a></span>
        </div>
        <div>
            <h4>访问量</h4>
            <span>0</span>
        </div>
    </div>

    <!-- Info status -->

    <h3 class="page_header">状态</h3>
    <hr class="divider" />

    <div id="info">
        <div id="info_status">

        </div>

        <!-- Info system -->

        <h3 class="page_header">系统信息</h3>
        <hr class="divider" />

        <div id="info_system">
            <table class="table-responsive">
                <tbody>
                    <tr>
                        <td>管理员个数:</td>
                        <td>2 人</td>
                        <td>服务器软件:</td>
                        <td>Nginx/1.12.2 Supervisord/3.3.4</td>
                    </tr>
                    <tr>
                        <td>浏览器:</td>
                        <td>{{userAgent}}</td>
                        <td>操作系统:</td>
                        <td>{{navigator.platform}}</td>
                    </tr>
                    <tr>
                        <td>服务器系统:</td>
                        <td>CentOS Linux</td>
                        <td>内核版本</td>
                        <td>7.3.1611</td>
                    </tr>
                    <tr>
                        <td>登录者IP:</td>
                        <td>隐藏</td>
                        <td>MYSQL版本:</td>
                        <td>8.0.15</td>
                    </tr>
                    <tr>
                        <td>程序名称:</td>
                        <td class="version">{{navigator.appName}}</td>
                        <td>上传文件:</td>
                        <td>否</td>
                    </tr>
                    <tr>
                        <td>程序编码:</td>
                        <td>UTF-8</td>
                        <td>当前时间:</td>
                        <td>{{timeNow}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Info diary -->

    <h3 class="page_header">日志信息</h3>
    <hr class="divider" />

    <div id="info_diary">
        <table class="table-responsive">
            <tbody>
                <tr><td>2019-2-21 00:20:00 - 添加书目 3 条</td></tr>
                <tr><td>2019-2-21 00:00:00 - 添加管理员账户</td></tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock %}

{% block afterhead %}

{( super() )}

<script>


    Vue.filter('datetime_filter', function (value) {
        dt = new Date(value * 1000);
        return dt.getFullYear() + '-' + (dt.getMonth() + 1) + '-' + dt.getDate();
    });

    document.getElementById("li_report").style.backgroundColor = 'rgba(255, 255, 255, 0.175)';

    var status = new Vue({
        el: '#info',
        computed: {
            userAgent: function () {
                var Sys = {};
                var ua = navigator.userAgent.toLowerCase();
                var s;
                (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
                    (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
                        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
                            (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
                                (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
                var agent;
                //以下进行测试
                if (Sys.ie) agent = 'IE: ' + Sys.ie;
                if (Sys.firefox) agent = 'Firefox: ' + Sys.firefox;
                if (Sys.chrome) agent = 'Chrome: ' + Sys.chrome;
                if (Sys.opera) agent = 'Opera: ' + Sys.opera;
                if (Sys.safari) agent = 'Safari: ' + Sys.safari;
                return agent;
            },
            timeNow: function () {
                let dt = new Date();
                return dt.getFullYear() + "-" + (dt.getMonth() + 1) + "-" + dt.getDate() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            }
        }
    })

</script>

{% endblock %}