{% extends 'base.html' %}

{% block title %}{( blog_name )}{% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="../static/css/editormd.css" type="text/css" />
<style>

    #editor {
        line-height: 1.65;
        width: 60rem;
        max-width: 100%;
        margin: auto;
    }

    #md_editor {
        -moz-transform: translateY(0.25rem);
        -webkit-transform: translateY(0.25rem);
        -ms-transform: translateY(0.25rem);
        transform: translateY(0.25rem);
        -moz-transition: opacity 0.325s ease-in-out, -moz-transform 0.325s ease-in-out;
        -webkit-transition: opacity 0.325s ease-in-out, -webkit-transform 0.325s ease-in-out;
        -ms-transition: opacity 0.325s ease-in-out, -ms-transform 0.325s ease-in-out;
        transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
        opacity: 0;
    }
</style>
{% endblock %}

{% block content %}


<div id="editor">
    <div id="md_editor" :style="md_style">
        <textarea>{{ blog_data.content }}</textarea>
    </div>
</div>

{% endblock %}

{% block afterhead %}

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/vue.js"></script>
<script src="../static/js/axios.js"></script>
<script src="../static/js/editormd.js"></script>
<script src="../static/lib/marked.min.js"></script>
<script src="../static/lib/prettify.min.js"></script>
<script src="../static/lib/raphael.min.js"></script>
<script src="../static/lib/underscore.min.js"></script>
<script src="../static/lib/sequence-diagram.min.js"></script>
<script src="../static/lib/flowchart.min.js"></script>
<script src="../static/lib/jquery.flowchart.min.js"></script>
<script>

    var blog_data, comment_data, images;
    var editor = new Vue({
        el: '#editor',
        data: {
            blog_data: '',
            comment: '',
            images: '',
            opacity: '0'
        },
        computed: {
            md_style: function () {
                return {
                    'background-color': "rgba(27, 31, 34, 0.85)",
                    color: 'white',
                    padding: '4.5rem 2.5rem 1.5rem 2.5rem',
                    font: 'inherit',
                    'box-sizing': 'border-box',
                    opacity: this.opacity
                };
            }
        },
        mounted: function () {
            axios.get('/api/blog/{( blog_id )}')
                .then(response => {
                    this.blog_data = response.data.blog_data;
                    this.comment_data = response.data.comment_data;
                    this.images = response.data.images;
                })
                .catch(function (err) {
                    console.log(err);
                });
        },
        updated: function () {
            editormd.markdownToHTML("md_editor", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
            });
            this.opacity = '1';
        }
    });




</script>

{% endblock %}