/* base.html */

    /* Layout */
    #layout {
        position: relative;
        z-index: 5;
    }

    /* BG */

    #bg {
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-backface-visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

        #bg:before, #bg:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #bg:before {
            background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("/static/images/overlay.png");
            background-size: auto, 256px 256px;
            background-position: center, center;
            background-repeat: no-repeat, repeat;
            z-index: 2;
        }

        #bg:after {
            -moz-transform: scale(1.125);
            -webkit-transform: scale(1.125);
            -ms-transform: scale(1.125);
            transform: scale(1.125);
            -moz-filter: blur(0.2rem);
            -webkit-filter: blur(0.2rem);
            -ms-filter: blur(0.2rem);
            filter: blur(0.2rem);
            background-image: url("/static/images/bg.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 1;
        }

    /* Footer */

    #footer {
        width: 100%;
        max-width: 100%;
        margin: 2rem 0;
        text-align: center;
        position: relative;
        color: white;
        z-index: 3;
    }

        #footer .copyright {
            letter-spacing: 0.2rem;
            font-size: 0.6rem;
            opacity: 0.75;
            margin-bottom: 0;
            text-transform: uppercase;
        }

/* base_manage.html */

    /* Basic */
    .active {
    }

    /* Navigation general format */
    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 0.8rem;
    }

    /* Navigation Bar */
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .navbar a {
        border-bottom: none;
    }

        /* Left part in Navigation Bar */
        .navbar-header {
            float: left;
            padding: 0.25rem 0.5rem 0.15rem 1rem;
            font-size: larger;
        }

        /* Right part in Navigation Bar */
        .navbar-collapse {
            padding: 0.25rem 0.5rem 0.15rem 1rem;
        }

        .navbar-collapse ul li {
            -moz-transition: background-color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;
            float: right;
            margin: 0.25rem;
            padding: 0.15rem 0.5rem 0.15rem 0.5rem;
            border-radius: 5px;
        }

        .navbar-collapse ul li:hover {
            background-color: rgba(255, 255, 255, 0.175)
        }

            /* Dropdown in list item */

            .dropdown {
            }

            .dropdown .dropdown-menu {
                -moz-transition: opacity 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out;
                position: absolute;
                display: none;
                opacity: 0;
                box-sizing: border-box;
            }

            .dropdown:hover .dropdown-menu {
                margin: 0.55rem 0 0 -0.5rem;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.3);
                display: block;
                opacity: 1;
            }

            .dropdown .dropdown-menu li {
                float: none;
            }

    /* Side Bar */

    /* Side Bar general format */
    .sidebar {
        position: fixed;
        top: 2.55rem;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .sidebar {
        font-size: 0.8rem;
        color: #ddd;
    }

    .sidebar a {
        border-bottom: none;
    }

        /* Navigation in Side Bar */
        .nav-sidebar {
            margin: 0 0 0.5rem 0;
        }

        .nav-sidebar li {
            -moz-transition: background-color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;
            border-radius: 5px;
            margin: 0.25rem 0 0.25rem 0rem;
            padding: 0.05rem 0.5rem 0.05rem 0.5rem;
        }

        .nav-sidebar li:hover {
            background-color: rgba(255, 255, 255, 0.175)
        }

            /* Dropdown in list item */
            .nav-dropdown {
                -moz-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out;
                opacity: 0;
                height: 0;
            }

            .dropdown:hover .nav-dropdown {
                opacity: 1;
                height: auto;
            }

/* blog.html */

/* editor */

#re_editor {
    line-height: 1.35;
    width: 60rem;
    max-width: 100%;
    margin: auto;
    font-size: 0.8rem;
}

    /* markdown editor */

    #md_editor {
        -moz-transform: translateY(0.25rem);
        -webkit-transform: translateY(0.25rem);
        -ms-transform: translateY(0.25rem);
        transform: translateY(0.25rem);
        -moz-transition: opacity 0.325s ease-in-out, -moz-transform 0.325s ease-in-out;
        -webkit-transition: opacity 0.325s ease-in-out, -webkit-transform 0.325s ease-in-out;
        -ms-transition: opacity 0.325s ease-in-out, -ms-transform 0.325s ease-in-out;
        transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
        opacity: 0;
        border-radius: 15px;
    }

    /* comment editor */

    #cm_editor {
        padding: 1rem 2.5rem 3rem 2.5rem;
        background-color: rgba(27, 31, 34, 0.85);
        margin: 1rem 0;
        border-radius: 15px;
    }

    #cm_editor h3 {

    }

    #cm_editor #sig_part {
        position: relative;
        left: 40%;
    }

    #cm_editor #reg_part {
        position: relative;
        left: 2.5%;
    }

    #cm_editor .grid div {
        margin: 1rem 0 0 0;
    }

    #cm_editor .grid a {
        border-bottom: none;
        font-size: 150%;
    }

    #cm_editor .grid a:hover {
        color: deepskyblue;
    }

        /* reply part */

        #reply,.out_comment {
            margin: 1.5rem 0;
        }

        /* #reply img => .user_img */

        #reply textarea {
            width: 80%;
            float: left;
            height: 2rem;
            resize: none;
            font-size: 0.6rem;
        }

        #reply input {
            float: left;
            width: 3.6rem;
            height: 3.6rem;
            margin: 0 0 0 1.5rem;
            padding: 0;
        }

        /* out_comment part */

        .user_img {
            border-radius: 50%;
            width: 5%;
            float: left;
            margin: 0.5rem 1rem 0.5rem 0;
        }

        .user_info {
            padding: 0.5rem 2rem 0 0;
        }

        .user_art {
            padding: 0.5rem 1rem 0 3.8rem;
        }

        .user_sel {
            margin: 0.5rem 0 0 3.8rem;
        }

        .user_sel span {
            color: #bbb;
            font-size: small;
        }

        .user_sel a, .in_user_sel a {
            border-bottom: none;
        }

        .user_form {
            margin: 1rem 0 0 3.8rem;
        }

        .user_form textarea {
            float: left;
            width: 78.9%;
            height: 2rem;
            resize: none;
            font-size: 0.6rem;
        }

        .user_form input {
            width: 3.6rem;
            height: 3.6rem;
            margin: 0 0 0 1.5rem;
            padding: 0;
        }

            /* in_comment part */

            .in_comment {
                margin: 0 0 0 4rem;
            }

            .in_user_img {
                border-radius: 50%;
                width: 2.5%;
                float: left;
                margin: 0.5rem 1rem 0.5rem 0;
            }

            .in_user_art {
                padding: 0.5rem 1rem 0 2.5rem;
            }

            .in_user_sel span {
                color: #bbb;
                font-size: small;
                margin: 0 0 0 2.5rem;
            }

/* manage_report.html */

    /* 1 容器 */

    #controller {
        position: relative;
        margin: 3.5rem 1rem 4rem 10rem;
    }

    /* 1.1 信息总览 */

    #info_all {
        margin: 0 0 2rem 0;
    }

        #info_all div {
            position: relative;
        }

        #info_all span {
            position: absolute;
            top: 2rem;
            left: 8rem;
            width: 8rem;
            color: rgba(255, 255, 255, 0.5);
        }

    /* 1.2 状态 */

    #info_status {
        font-size: 0.8rem;
        margin: 0 0 2rem 0;
    }

    /* 1.3 系统信息 */

    .table-responsive {
        font-size: 0.7rem;
    }

        .table-responsive a {
            border-bottom: none;
        }

/* manage_blog.html, manage_user.html */

    /* 1 容器 */

	/* 同 manage_report.html */
	
    /* 1.1 操作 */


    /* 1.2 管理 */

    .table-responsive {
        font-size: 0.7rem;
    }

        .table-responsive a {
            border-bottom: none;
        }

    /* 1.3 页脚 */

    .message_footer {
        position: relative;
        padding: 1rem;
    }

    .message_footer ul{
        position: absolute;
        left: 50%;
    }

    .message_footer li {
        list-style-type: none;
        font-size: 0.7rem;
        float: left;
        position: relative;
        right: 50%;
    }

        .message_footer a {
            background: -moz-linear-gradient(top, rgba(67, 67, 69, 0.6), rgba(47, 48, 50, 0.6));
            background: -webkit-linear-gradient(top, rgba(67, 67, 69, 0.6), rgba(47, 48, 50, 0.6));
            background: -o-linear-gradient(top, rgba(67, 67, 69, 0.6), rgba(47, 48, 50, 0.6));
            background: linear-gradient(top, rgba(67, 67, 69, 0.6), rgba(47, 48, 50, 0.6));
            display: block;
            color: #f2f2f2;
            text-shadow: 1px 0 0 #101011;
            padding: 0 10px;
            border-radius: 2px;
            box-shadow: 0 1px 0 #5a5b5c inset,0 1px 0 #080808;
            border-bottom: none;
        }

            .message_footer a:hover {
                background: -moz-linear-gradient(top, rgba(255, 254, 252, 0.5),rgba(193, 193, 193, 0.5));
                background: -webkit-linear-gradient(top, rgba(255, 254, 252, 0.5),rgba(193, 193, 193, 0.5));
                background: -o-linear-gradient(top, rgba(255, 254, 252, 0.5),rgba(193, 193, 193, 0.5));
                background: linear-gradient(top, rgba(255, 254, 252, 0.5),rgba(193, 193, 193, 0.5));
                text-decoration: none;
                box-shadow: 0 1px 0 #5a5b5c inset,0 1px 0 #0a0a0a;
            }

    /* 全局 */

    .unused {
        opacity: 0.25;
    }

        .unused a:hover {
            background: -moz-linear-gradient(top, rgba(67, 67, 69, 0.6), rgba(47, 48, 50, 0.6));
            background: -webkit-linear-gradient(top, rgba(67, 67, 69, 0.6), rgba(47, 48, 50, 0.6));
            background: -o-linear-gradient(top, rgba(67, 67, 69, 0.6), rgba(47, 48, 50, 0.6));
            background: linear-gradient(top, rgba(67, 67, 69, 0.6), rgba(47, 48, 50, 0.6));
        }

    .used a {
        background: -moz-linear-gradient(top, rgba(67, 67, 69, 0.95), rgba(47, 48, 50, 0.95));
        background: -webkit-linear-gradient(top, rgba(67, 67, 69, 0.95), rgba(47, 48, 50, 0.95));
        background: -o-linear-gradient(top, rgba(67, 67, 69, 0.95), rgba(47, 48, 50, 0.95));
        background: linear-gradient(top, rgba(67, 67, 69, 0.95), rgba(47, 48, 50, 0.95));
    }

        .used a:hover {
            background: -moz-linear-gradient(top, rgba(67, 67, 69, 0.95), rgba(47, 48, 50, 0.95));
            background: -webkit-linear-gradient(top, rgba(67, 67, 69, 0.95), rgba(47, 48, 50, 0.95));
            background: -o-linear-gradient(top, rgba(67, 67, 69, 0.95), rgba(47, 48, 50, 0.95));
            background: linear-gradient(top, rgba(67, 67, 69, 0.95), rgba(47, 48, 50, 0.95));
        }

/* manage_blog_edit.html, manage_user.html */

    /* Form */
    form {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* Editor */
    #blog_editor,#user_editor {
        margin-top: 2.5rem;
    }

    /* Form editor */
    #form_editor {
        padding: 0.2rem 5% 1rem 5%;
        float: left;
        width: 30%;
    }

    #sort {
        width: 40%;
        float: left;
    }

    #form_editor input[type="submit"], #form_editor input[type="reset"] {
        position: relative;
        top: 2.2rem;
        margin: 0 0 0 0.75rem;
        float: left;
    }

    /* Image editor */
    #img_editor {
        padding: 2.4rem 0 1rem 0;
        float: left;
        width: 30%;
        height: 14.2rem;
    }

    #img_preview {
        border: 1px solid #ccc;
        width: 100%;
        height: 14rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    #img_editor input {
        float: left;
    }

    #img_editor p {
        margin: 3px 0 0 0;
        font-size: 0.8rem;
    }

    /* Blog_information */
    #blog_info,#user_info {
        position: relative;
        float: left;
        margin: 1.8rem;
    }