<!DOCTYPE html>
<!--
    Dimension by Infuny
    arciyuan.com | @Infuny
    Free for personal and commercial use under the CCA 3.0 license (arciyuan.com/license)
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>R 次源</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/uikit.css" />
</head>
<body>
    <div id="wrapper" class="uk-grid">
        <div id="main-left" class="uk-width-1-4"></div>
        <header id="header" class="uk-width-2-4">
            <div class="logo">

            </div>
            <div class="content">
                <div class="inner">
                    <p>
                        A fully responsive site template designed by <a href="https://arciyuan.com">Infuny</a>
                        and release
                        <br />
                        for free under the <a href="https://arciyuan.com/lincense">Creative Commons</a> lincense.
                    </p>
                </div>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="/tech">技术杂谈</a></li>
                    <li><a href="/life">生活随笔</a></li>
                    <li><a href="/tool">极客工具</a></li>
                </ul>
            </nav>
        </header>
        <div id="main">

        </div>
        <div id="main-right" class="uk-width-1-4"></div>
        <footer id="footer"></footer>
    </div>

    <div id="bg"></div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/uikit.js"></script>
</body>
</html>